.Chart .Chart_title {
  display: flex;
  justify-content: space-between;
}

.Chart .Chart_title h1 {
  font-size: 26px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  margin: 20px 0;
}

.Chart .Chart_title button {
  font-size: 20px;
  border: none;
  background: none;
  color: #fff;
  padding-right: 10px;
}

.Chart .Chart-list {
  display: flex;
  overflow-x: auto; /* 수평 스크롤 활성화 */
  scroll-snap-type: x mandatory; /* 스냅 효과 */
  scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
  gap: 20px;
}

.Chart .Chart-list::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 등 웹킷 브라우저에서 스크롤바 숨기기 */
}
