.Detail .Detail_main {
  display: flex;
  padding: 0;
  margin: 0;
}

.Detail .productImg {
  width: 622.5px; /* 415px -> 1.5배 */
  height: 763.5px; /* 509px -> 1.5배 */
}

.Detail .title {
  padding: 0 30px;
}

.Detail .title .like_share {
  width: 525px;
  display: flex;
  justify-content: space-between;
}

.Detail .title .like_share .LikeButton button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.Detail .title .like_share div {
  display: flex;
  gap: 10px;
}

.Detail .title .like_share .LikeButton img {
  width: 38px;
}

.Detail .title .like_share .share {
  width: 28px;
  padding-bottom: 3px;
}

.Detail .title p {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 27px; /* 18px -> 1.5배 */
  font-weight: 400;
  line-height: 140%;
}

.Detail .title h3 {
  width: 600px; /* 360px -> 1.5배 */
  margin: 0;
  color: #fff;
  font-size: 30px; /* 21px -> 1.5배 */
  font-weight: 700;
  line-height: 200%; /* 120% -> 180% */
}

.Detail .title .link_price {
  margin: 20px 0px; /* 26px -> 1.5배 */
  display: flex;
  width: 532.5px; /* 355px -> 1.5배 */
  justify-content: space-between;
}

.Detail .title .link_price button {
  border-radius: 15px; /* 10px -> 1.5배 */
  background: #fff;
  padding: 10.5px 21px; /* 7px 14px -> 1.5배 */
  color: #353535;
  font-size: 18px; /* 12px -> 1.5배 */
  font-weight: 700;
}

.Detail .title .link_price p {
  color: #fff;
  font-size: 30px; /* 20px -> 1.5배 */
  font-weight: 600;
}

.Detail .title .link_price span {
  color: #ff6c72;
  font-size: 30px; /* 20px -> 1.5배 */
}

.Detail .title .priceGraph .graph_ment {
  display: flex;
  justify-content: space-between;
  width: 532.5px; /* 355px -> 1.5배 */
  margin-bottom: 14px;
}

.Detail .title .priceGraph .graph_ment div {
  width: 200px;
  display: flex;
  gap: 6px;
}

.Detail .title .priceGraph .graph_ment div p {
  font-size: 20px;
}

.Detail .title .priceGraph .graph_ment div .three-month_three-month,
.Detail .title .priceGraph .graph_ment div .whole_whole {
  color: #fff;
}

.Detail .title .priceGraph .graph_ment div img {
  width: 55px;
  padding-bottom: 30px;
}

.Detail .title .priceGraph .graph_ment .graph_p {
  color: #fff;
  font-size: 20px;
}

.Detail .title .priceGraph .price4 {
  margin-top: 30px; /* 20px -> 1.5배 */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Detail .title .priceGraph .price4 p {
  color: white;
  font-size: 24px; /* 16px -> 1.5배 */
}

.Detail .title .priceGraph .Line34 {
  width: 514.5px; /* 343px -> 1.5배 */
  height: 1.5px; /* 1px -> 1.5배 */
}

.Detail .recommend {
  margin: 75px 0; /* 50px -> 1.5배 */
}

.Detail .recommend .recommend_ment {
  color: white;
  text-align: center;
  font-size: 30px; /* 20px -> 1.5배 */
  font-weight: 500;
}

.Detail .recommend .recomment_map {
  display: flex;
  gap: 15px; /* 10px -> 1.5배 */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.Detail .recommend .recomment_map .ProductCard {
  width: 255px; /* 170px -> 1.5배 */
  height: 525px; /* 350px -> 1.5배 */
}

.Detail .recommend .recomment_map .ProductCard .product_img img {
  width: 250.5px; /* 167px -> 1.5배 */
  height: 306px; /* 204px -> 1.5배 */
}

.Detail .recommend .recomment_map .ProductCard .LikeButton button {
  top: 260px;
  left: 200px;
}

.Detail .recommend .recomment_map .ProductCard .LikeButton img {
  width: 41.75px;
  height: 41.75px;
}

.Detail .recommend .recomment_map .ProductCard .product_info h4 {
  margin: 10px 0;
  font-size: 21px; /* 14px -> 1.5배 */
  font-weight: 700;
}

.Detail .recommend .recomment_map .ProductCard .product_info .title {
  margin: 0;
  font-size: 18px;
  padding: 0;
}

.Detail .recommend .recomment_map .ProductCard .product_price {
  font-size: 21px; /* 14px -> 1.5배 */
  font-weight: 700;
  margin: 7px 0;
}

.Detail .priceGraph .graph_div {
  width: 525px;
  height: 305px;
}

@media (max-width: 1200px) {
  .Detail {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .Detail_main {
    flex-direction: column;
  }

  .Detail_main .productImg {
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
  }

  .Detail .title {
    padding: 0;
  }

  .Detail .title .like_share,
  .Detail .title .link_price,
  .Detail .title .priceGraph,
  .Detail .title .priceGraph .graph_ment {
    width: 100%;
  }

  .Detail .priceGraph .graph_div {
    width: 100%;
    height: 100%;
  }

  .Detail .title .priceGraph .Line34 {
    width: 100%;
    height: 100%;
  }
}
