.Navbar {
  display: flex;
  width: 1198.5px; /* 799px -> 1.5배 */
  height: 87px; /* 58px -> 1.5배 */
  margin: 15px 0px; /* 10px -> 1.5배 */
  justify-content: center;
  align-items: center;
  gap: 15px; /* 10px -> 1.5배 */
  flex-shrink: 0;
  justify-content: space-between;
}

.Navbar .home,
.Navbar .logo {
  height: 45px; /* 30px -> 1.5배 */
}

.Navbar .mypage {
  color: white;
  width: 47px;
  height: 45px;
}

/* 모바일 */
@media (max-width: 480px) {
  .Navbar {
    gap: 5%;
    justify-content: flex-end;
  }

  .Navbar .home,
  .Navbar .logo,
  .Navbar .mypage {
    width: 60%;
  }
}

@media (max-width: 1300px) {
  .Navbar {
    width: 94%;
    margin: 15px auto;
  }
}
